@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 328px;
  min-height: 520px;
  background: white;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 16px;
}

.img {
  width: 280px;
  margin-top: -174px;
}

.title {
  width: 100%;
  text-align: center;
}

.qa-pair {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  color: hsl(238, 29%, 16%);
  font-size: 14px;
}

.answer {
  font-size: 12px;
  padding-right: 24px;
  color: hsl(240, 6%, 50%);
  overflow: hidden;
  display: none;
}
